/* Variables */
:root {
    --bg-color: #123456;
    --primary-color: #DCDCDC;
    --secondary-color: #CCCCCC;
    --complimentary-color: #DC7000;
}

/* HTML Elements */
body {
    background-color: var(--bg-color);
}

h1, p {
    color: var(--primary-color);
}

a {
    margin: 3px;
}

/* Formatting */
.lookatme {
    color: var(--complimentary-color);
}


/* Section Container */
.corner-highlight {
    left: 30%;
    top: 30%;
    width: 40%;
    height: 30%;
    padding: 25px;
    position: absolute;
}

.corner-highlight::before,
.corner-highlight::after {
    content: '';
    position: absolute;
    border: 3px solid var(--complimentary-color); 
    width: 75px;
    height: 75px;
    border-radius: 5%;
}

.corner-highlight::before {
    top: -2.5px;
    right: -2.5px;
    border-left: none;
    border-bottom: none;
}

.corner-highlight::after {
    bottom: -2.5px;
    left: -2.5px;
    border-top: none;
    border-right: none;
}

/* Icons */
.icons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.icon {
    width: 30px;
    height: 30px;
}